.container {
  width: 400px;
  margin: 15px auto;
  box-shadow: 3px 3px 3px rgba(75, 65, 211, 0.312), -0.5px -0.5px 3px rgba(75, 65, 211, 0.312);
}

.section {
  border-bottom: 1px solid rgba(75, 65, 211, 0.233);
  margin: 0 10px;

}

.section:last-child {
  border: none;
}
